{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/about.css">



{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h1>Welcome to Flowery</h1>
        <p>Your one-stop destination for everything your garden needs!</p>
    </div>

    <div class="section">
        <h2>Who We Are</h2>
        <p>
            At Flowery, we believe in the magic of nature and the joy that a beautiful garden can bring. 
            From fresh flowers to nutrient-rich soil, stylish pots, and unique garden decorations, we have everything you need to create a garden that’s truly yours. 
            Based on our love for greenery and a commitment to quality, Flowery has become a trusted name for garden enthusiasts.
        </p>
    </div>

    

    <div class="section">
        <h2>Our Vision</h2>
        <p>
            At Flowery, our vision is to make gardening accessible and enjoyable for everyone. 
            We strive to inspire creativity and bring the beauty of nature closer to your home, one garden at a time.
        </p>
    </div>
</div>
{% endblock %}
