{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/home.css">


{% endblock %}

{% block body %}
<!-- Welcome Section -->
<div class="container text-center mt-5">
    <h1 class="display-3 fw-bold">Welcome to Flowery!</h1>
    <p class="lead text-muted">Your destination for fresh and beautiful flowers.</p>
</div>

<!-- Popular Products Section -->
<section class="popular-products mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Popular Products</h2>
        <div class="row">
        {% for product in top_products %}
            <div class="col-md-4">
                <div class="product-card">
                    <img src="{{ product.image }}" alt="Flower" class="img-fluid">
                    <h3 class="product-title">{{ product.title }}</h3>
                    <p class="product-price">{{ product.price }}€</p>
                    <a href="/product/{{ product.id }}/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
</section>
{% endblock %}
