{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/product.css">
<script src="/static/js/product.js"></script>
{% endblock %}

{% block body %}
<div class="section">
    <div class="features">
        <h2>{{ product.title }}</h2> <!-- Title centered in white background -->

        <div class="feature">
            <!-- Product Image -->
            <div class="feature-image">
                <img src="/{{ product.image }}" alt="{{ product.title }}">
            </div>

            <!-- Product Information -->
            <div class="feature-info">
                <p class="price"><strong>Price:</strong> {{ product.price }} €</p>
                <p class="type">
                    {% if product.indoors %}
                        Indoors
                    {% else %}
                        Outdoors
                    {% endif %}
                </p>
                <p><strong>Category:</strong> {{ product.category }}</p>
                <p><strong>SubCategory:</strong> {{ product.sub_category }}</p>
            </div>
        </div>

        <!-- Description Section -->
        <div class="description">
            <p><strong>Description:</strong></p>
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% endblock %}
