{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/products.css">
<script src="/static/js/products.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="products">
        <h2>Our Products</h2>
        <div class="filters">
            <div id="categories" class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul id="categories_ul" class="dropdown-menu">
                    <!-- Add category items here -->
                </ul>
            </div>
            <div id="subcategories" class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Sub Categories
                </button>
                <ul id="subcategories_ul" class="dropdown-menu">
                    <!-- Add subcategory items here -->
                </ul>
            </div>
        </div>
        <div class="selected-categories">
            <p>Category:</p><p id="sel_cat">All</p>
            <p>Sub Category:</p><p id="sel_sub_cat">All</p>
        </div>
        <div id="product-list" class="product-list">
            <!-- Loop through the products in the database -->
            {% for product in products %}
            <div class="product-card">
                <img src="/{{ product.image }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
                <p>Price: {{ product.price }} €</p>
                <a href="/product/{{ product.id }}" class="btn btn-primary">View Details</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    // i have this script here because I want to pass the products in javascript and there is no other way 
    var products_l=JSON.parse('{{ products_str|escapejs }}')
    // the espapejs is for when parsing the data string and it gives errors
    // console.log(products_l)
</script>

{% endblock %}
