{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/products.css">
{% endblock %}

{% block body %}
<div class="section">
    <h2>Details For {{product.title}} :</h2>
    <div class="features">
    <!-- I loop inside the products that I have in my database -->
    
    <div class="feature">
        <!-- I put the images from my database in the static folder -->
        
        <img src="/{{product.image}}">
        <h3>{{product.title}}</h3>
        <p>Price: {{product.price}} €</p>
        {% if product.indoors %}
            <p>Indoors</p>
        {% else %}
            <p>Outdoors</p>
        {% endif %}
        <p>Category: {{product.category}}</p>
        <p>SubCategory: {{product.sub_category}}</p>
        <p>Description: {{product.description}}</p>
    </div>
    
    </div>
</div>

{% endblock %}